QWidget#MainWindow
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #959595 ,stop: 0.46 #0d0d0d , stop: 0.5 #010101 ,stop: 0.53 #0a0a0a, stop: 0.76 #4e4e4e, stop: 0.87 #383838, stop: 1 #1b1b1b);
}
QWidget#Playlist
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #959595 ,stop: 0.46 #0d0d0d , stop: 0.5 #010101 ,stop: 0.53 #0a0a0a, stop: 0.76 #4e4e4e, stop: 0.87 #383838, stop: 1 #1b1b1b);
}
QWidget#addRSS
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #959595 ,stop: 0.46 #0d0d0d , stop: 0.5 #010101 ,stop: 0.53 #0a0a0a, stop: 0.76 #4e4e4e, stop: 0.87 #383838, stop: 1 #1b1b1b);
}
QWidget#addContact
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #959595 ,stop: 0.46 #0d0d0d , stop: 0.5 #010101 ,stop: 0.53 #0a0a0a, stop: 0.76 #4e4e4e, stop: 0.87 #383838, stop: 1 #1b1b1b);
}
QListWidget{
background-color: rgba(0,0,0,0);
color: white;
border: 1px solid gray;

border-radius: 4px;
}
QDialog
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #959595 ,stop: 0.46 #0d0d0d , stop: 0.5 #010101 ,stop: 0.53 #0a0a0a, stop: 0.76 #4e4e4e, stop: 0.87 #383838, stop: 1 #1b1b1b);
}
QScrollBar:vertical {
      border: 0px;
      background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #959595 ,stop: 0.46 #0d0d0d , stop: 0.5 #010101 ,stop: 0.53 #0a0a0a, stop: 0.76 #4e4e4e, stop: 0.87 #383838, stop: 1 #1b1b1b);
      width: 15px;
      margin: 22px 0 22px 0;
  }
  QScrollBar::handle:vertical {
      background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #739e24 ,stop: 0.11 #bfd255, stop: 0.24 #72aa00, stop: 0.38 #bfd255, stop:0.50 #72aa00, stop: 0.63 #bfd255, stop: 0.76 #72aa00, stop: 0.88 #bfd255, stop: 1 #72aa00);
      min-height: 20px;
      border:1px solid black;
      border-radius: 3px;
  }
  QScrollBar::add-line:vertical {
      border: 1px solid black;
      background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #739e24 ,stop: 0.11 #bfd255, stop: 0.24 #72aa00, stop: 0.38 #bfd255, stop:0.50 #72aa00, stop: 0.63 #bfd255, stop: 0.76 #72aa00, stop: 0.88 #bfd255, stop: 1 #72aa00);
      height: 20px;
      border-radius: 3px;
      subcontrol-position: bottom;
      subcontrol-origin: margin;
  }

  QScrollBar::sub-line:vertical {
      border: 1px solid black;
      background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #739e24 ,stop: 0.11 #bfd255, stop: 0.24 #72aa00, stop: 0.38 #bfd255, stop:0.50 #72aa00, stop: 0.63 #bfd255, stop: 0.76 #72aa00, stop: 0.88 #bfd255, stop: 1 #72aa00);
      height: 20px;
      border-radius: 3px;
      subcontrol-position: top;
      subcontrol-origin: margin;
  }
  QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
      border: 2px solid grey;
      width: 3px;
      height: 3px;
      background: white;
  }

  QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
      background: none;
  }

QMessageBox {
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #959595 ,stop: 0.46 #0d0d0d , stop: 0.5 #010101 ,stop: 0.53 #0a0a0a, stop: 0.76 #4e4e4e, stop: 0.87 #383838, stop: 1 #1b1b1b);
}

 QComboBox {
     border: 1px solid black;
     border-radius: 3px;
     padding: 1px 18px 1px 3px;
     min-width: 6em;
 }

 QComboBox:editable {
     background: white;
 }

 QComboBox:!editable, QComboBox::drop-down:editable {
      background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                  stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
 }

 /* QComboBox gets the "on" state when the popup is open */
 QComboBox:!editable:on, QComboBox::drop-down:editable:on {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
                                 stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
 }

 QComboBox:on { /* shift the text when the popup opens */
     padding-top: 3px;
     padding-left: 4px;
 }

 QComboBox::drop-down {
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;

     border-left-width: 1px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
     border-top-right-radius: 3px; /* same radius as the QComboBox */
     border-bottom-right-radius: 3px;
 }

 QComboBox::down-arrow {
     image: url(/usr/share/icons/crystalsvg/16x16/actions/1downarrow.png);
 }

 QComboBox::down-arrow:on { /* shift the arrow when popup is open */
     top: 1px;
     left: 1px;
 }
QTextEdit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 8px;
    background: white;
    selection-background-color: green;
 }
 QTextEdit:read-only {
     background: darkgray;
 }
 QLineEdit {
     border: 1px solid black;
     border-radius: 5px;
     padding: 0 8px;
     background: white;
     selection-background-color: green;
 }

 QPushButton {
      border: 1px solid black;
      border-radius: 6px;
      background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #bfd255 ,stop: 0.5 #8eb92a, stop: 0.51 #72aa00, stop: 1 #9ecb2d);
      min-width: 80px;
  }

  QPushButton:pressed {
      background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #9dd53a ,stop: 0.50 #a1d54f, stop: 0.51 #80c217 , stop: 1 #7cbc0a);
  }

  QPushButton:flat {
      border: none; /* no border for a flat push button */
  }

  QPushButton:default {
      border-color: navy; /* make the default button prominent */
  }
     QTabWidget::pane { /* The tab widget frame */
         border-top: 2px solid #C2C7CB;
         background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                           stop: 0 #7d7e7d, stop: 1 #0e0e0e);
     }

     QTabWidget::tab-bar {
         left: 5px; /* move to the right by 5px */
     }

     /* Style the tab using the tab sub-control. Note that
         it reads QTabBar _not_ QTabWidget */
     QTabBar::tab {
     border: 1px solid black;
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #bfd255 ,stop: 0.5 #8eb92a, stop: 0.51 #72aa00, stop: 1 #9ecb2d);
     border-bottom-color: #C2C7CB; /* same as the pane color */
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
         min-width: 8ex;
         padding: 2px;
     }

     QTabBar::tab:selected, QTabBar::tab:hover {
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                       stop: 0 #9dd53a ,stop: 0.50 #a1d54f, stop: 0.51 #80c217 , stop: 1 #7cbc0a);
     }

     QTabBar::tab:selected {
         border-color: white;
         border-bottom-color: #C2C7CB; /* same as pane color */
     }

     QTabBar::tab:!selected {
         margin-top: 2px; /* make non-selected tabs look smaller */
     }

     /* make use of negative margins for overlapping tabs */
     QTabBar::tab:selected {
         /* expand/overlap to the left and right by 4px */
         margin-left: -4px;
         margin-right: -4px;
     }

     QTabBar::tab:first:selected {
         margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
     }

     QTabBar::tab:last:selected {
         margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
     }

     QTabBar::tab:only-one {
         margin: 0; /* if there is only one tab, we don't want overlapping margins */
     }

 QTreeWidget {
     color: black;
     border: 2px solid gray;
     border-radius: 10px;
     background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
     stop: 0 #9dd53a ,stop: 0.50 #a1d54f, stop: 0.51 #80c217 , stop: 1 #7cbc0a);;
 }
 QTreeWidget {
     show-decoration-selected: 1;
 }

QHeaderView::section {
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                       stop:0 #616161, stop: 0.5 #505050,
                                       stop: 0.6 #434343, stop:1 #656565);
     color: white;
     padding-left: 4px;

     border: 1px solid #6c6c6c;
     border-radius:4px;
 }

 QHeaderView::section:checked
 {

     background-color: red;

 }

 /* style the sort indicator */

QLabel{
  font: bold 16px;
  color: white;
}

QSlider::groove:horizontal {
     border: 1px solid black;
     broder-radius:4px;
     height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #bfd255 ,stop: 0.5 #8eb92a , stop: 1 #72aa00);
     margin: 2px 0;
 }

 QSlider::handle:horizontal {
     background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
     border: 1px solid #5c5c5c;
     width: 18px;
     margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
     border-radius: 3px;
 }

QSlider::groove:vertical {
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #bfd255 ,stop: 0.5 #8eb92a , stop: 1 #72aa00);
     border: 1px solid black;
     width: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
     position: absolute; /* absolutely position 4px from the left and right of the widget. setting margins on the widget should work too... */
     left: 4px; right: 4px;
 }

 QSlider::handle:vertical {
     height: 10px;
     background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
     border: 1px solid #5c5c5c;
     margin: 0 -4px; /* expand outside the groove */
     border-radius: 3px;

 }

QScrollArea {
background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                  stop: 0 #7d7e7d, stop: 1 #0e0e0e);
border: 1px solid black;
border-radius: 6px;
}

QWidget#VarElement {
background-color: rgba(0, 0, 0, 0);
}

QWidget#VarDLItem {
background-color: rgba(0, 0, 0, 0);
}
QWidget#scrollDLVar {
background-color: rgba(0, 0, 0, 0);
}
QWidget#ViewVarieter {
background-color: rgba(0, 0, 0, 0);
}
QWidget#ViewVarItem {
background-color: rgba(0, 0, 0, 0);
}
QWidget#AddVar {
background-color: rgba(0, 0, 0, 0);
}
